
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Pending</h5>
                      <span class="h2 font-weight-bold mb-0" id="pedding_loan">{{ pending_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:pending-loans' %}" class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Waiting</h5>
                      <span class="h2 font-weight-bold mb-0" id="waiting_loan">{{ waiting_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:waiting-loans' %}" class="icon icon-shape bg-gradient-gray text-white rounded-circle shadow">
                        <i class="ni ni-watch-time"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Declined</h5>
                      <span class="h2 font-weight-bold mb-0" id="declined_loan">{{ declined_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:declined-loans' %}" class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="ni ni-fat-remove"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Withdrawn</h5>
                      <span class="h2 font-weight-bold mb-0" id="withdrawn">{{ withdrawn_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:withdrawn-loans' %}" class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="ni ni-fat-delete"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Written Off</h5>
                      <span class="h2 font-weight-bold mb-0" id="written_off_loan">{{ written_off_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:written-off-loans' %}" class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-button-power"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Closed</h5>
                      <span class="h2 font-weight-bold mb-0" id="closed_loan">{{ closed_loans }}</span>
                    </div>
                    <div class="col-auto">
                      <a href="{% url 'dashboard:closed-loans' %}" class="icon icon-shape bg-success text-white rounded-circle shadow">
                        <i class="ni ni-check-bold"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

